[include]
  path = ~/.gitconfig.local
[alias]
  co     = checkout
  ci     = commit
  cim    = commit -m
  ciam   = commit -am
  st     = status
  sw     = show
  sh     = stash
  br     = branch
  bra    = branch -a
  ps     = push
  pso    = push origin
  p      = pull
  po     = pull origin
  pp     = pull --prune
  re     = reset
  d      = diff
  dm     = diff master           # masterとのdiff
  dw     = diff --color-words    # 単語単位でいろつけてdiff
  dc     = diff --cached         # addされているものとのdiff
  ds     = diff --staged         # 同上(1.6.1移行)
  d1     = diff HEAD~            # HEADから1つ前とdiff
  d2     = diff HEAD~~           # HEADから2つ前とdiff
  d3     = diff HEAD~~~          # HEADから3つ前とdiff
  d4     = diff HEAD~~~~         # HEADから4つ前とdiff
  d5     = diff HEAD~~~~~        # HEADから5つ前とdiff
  d10    = diff HEAD~~~~~~~~~~   # HEADから10前とdiff
  l      = log
  lo     = log --oneline
  lop    = log --oneline --graph
  la     = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
  tr     = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
  refile   = checkout HEAD --
  brupdate = fetch --prune
[color]
  ui          = true
  diff        = auto
  status      = auto
  branch      = auto
  grep        = auto
  interactive = auto
